@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main-header22 */

.main-header22{
    height: 100vh;
    background: #070023;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 86%, 54% 98%, 23% 88%, 0 100%);
clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 77% 86%, 54% 98%, 23% 88%, 0 100%);
}

.tommy{
    font-family: 'Fugaz One', cursive;
}