body{
    background: #010006;
}

.myloginform{
    margin-top:30px;
    margin-bottom: 50px;
    padding: 30px;
    border: 5px solid #F6B908;
    box-shadow: 0 0 13px #f6b908;
}
.myemail{
   border-radius: 20px;
}


.myuserpic{
    border-radius: 50%;
}